.CustomFooter {
    /* background-color: #333F49; */
    background-image: url("./images/header/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}